body {
    font-family: "Source Serif 4", serif;
}
/* 
.bg-header {
    background-color: #03495E !important;
    opacity: 0.82;
    color: #F5ECD4;
}
li {
    color: #F5ECD4;
} */


.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-front {
    z-index: 2;
    transform: rotateY(0deg);
    transition: transform 0.5s;
  }
  
  .card:hover .card-front {
    transform: rotateY(-180deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
  
  .card:hover .card-back {
    transform: rotateY(0deg);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title,
  .card-text {
    margin: 0;
  }
  